<%- include('./partials/header.ejs') %>
    <div class="show-container">
        <h1><%= pokemon.name %></h1>
        <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>">
        <h3>Type:</h3>
        <% if (pokemon.type === undefined) { %>
            <p>No type to display</p>
        <% } else { %>
            <ul>
                <% for (let i = 0; i < pokemon.type.length; i++) { %>
                    <li><%= pokemon.type[i] %></li>
                <% } %>
            </ul>
        <% } %>
        <h3>Stats:</h3>
        <ul>
            <% for (const property in pokemon.stats) { %>
                <li><%= property %>: <%= pokemon.stats[property] %></li>
            <% } %>
        </ul>
        <a class="show-link" href="/pokemon/<%= id %>/edit">Edit pokemon</a>
        <form method="POST" action="/pokemon/<%= id %>?_method=DELETE">
            <button>Delete <%= pokemon.name %></button>
        </form>
    </div>

<%- include('./partials/footer.ejs') %>